.signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    margin: auto;
}
.signup-password-info {
    font-size: 12px;
    color: grey;
    line-height: 0.2;
}

.signup-error-info {
    color: red;
}

.signup-input-error {
    border-color: red;
}